<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>
    <div>
        <h1>AI Salary Predictor</h1>
        <hr>
        <br>
        <button onclick="window.location.href='/';">Go to Home</button>
        <button onclick="window.location.href='about';">Go to About</button>
        {% block body %}

        {% endblock %}

    </div>
</body>
</html>